<div class="containter">

	<div class="col-xs-12">
		<p class="text-center">Используя контекстное меню сформируйте или отредактируйте конструкцию окна.</p>
		
		<div style="width: 800px; height: 600px; margin: 0 auto; border: 1px dashed #EEE;">
			<svg-renderer model="modelData" stat="stat" model-out="updatedModel"></svg-renderer>
		</div>
	</div>


	<div class="col-xs-12" ng-if="stat">

		<table class="table" style="max-width: 800px; margin: 0 auto; margin-top: 20px; font-size: 10px;">
			<tr><td>Общая длина профиля коробки, мм</td><td style="width: 50%">{{stat.frame.totalLength}}</td></tr>
			<tr><td>Общая длина профиля створки, мм</td><td>{{stat.sash.totalLength}}</td></tr>
			<tr><td>Количество створок, шт</td><td>{{stat.sash.qty}}</td></tr>
			<tr><td>Общая длина профиля импоста, мм</td><td>{{stat.impost.totalLength}}</td></tr>
			<tr><td>Количество импостов, шт:</td><td>{{stat.impost.qty}}</td></tr>
			<tr><td>Общая длина штапика, мм</td><td>{{stat.bead.totalLength}}</td></tr>
			<tr><td>Общая площадь стеклопакета, мм<sup>2</sup></td><td>{{stat.glass.totalArea}}</td></tr>
	</div>

</div>